.page {
    height: 100vh;
    min-height: 600px;
    position: relative;
    overflow: hidden;
    position: relative;
}

#page1 {
    background-color: rgba(0, 0, 0, 0.822);

}

#page2 {
    background-color: white;
}

/* .container {
    width: 84vw;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

body {
    margin: 0;
}

.triangle-left-red {
    width: 0;
    height: 0;
    border-top: 3vw solid transparent;
    border-right: 12vw solid rgba(255, 0, 0, 0.267);
    border-bottom: 3vw solid transparent;
    position: absolute;
}

.triangle-left-blue {
    width: 0;
    height: 0;
    border-top: 3vw solid transparent;
    border-right: 12vw solid rgba(0, 174, 255, 0.356);
    border-bottom: 3vw solid transparent;
    position: absolute;
}

.triangle-right-red {
    width: 0;
    height: 0;
    border-top: 3vw solid transparent;
    border-left: 12vw solid rgba(255, 0, 0, 0.267);
    border-bottom: 3vw solid transparent;
    position: absolute;
}

.triangle-right-blue {
    width: 0;
    height: 0;
    border-top: 3vw solid transparent;
    border-left: 12vw solid rgba(0, 174, 255, 0.281);
    border-bottom: 3vw solid transparent;
    position: absolute;
}

#tlr1 {
    top: 0px;
    left: 0px;
}

#tlb2 {
    top: 0px;
    left: 48vw;
}

#trr3 {
    top: 3vw;
    left: 48vw;
}

#trb4 {
    top: 6vw;
    left: 12vw;
}

#tlr5 {
    top: 6vw;
    left: 24vw;
}

#trb6 {
    top: 6vw;
    left: 36vw;
}

#tlb7 {
    top: 6vw;
    left: 72vw;
}

#trr8 {
    top: 9vw;
    left: 0px;
}

#trb9 {
    top: 9vw;
    left: 24vw;
}

#trr10 {
    top: 9vw;
    left: 48vw;
}

#tlb11 {
    top: 9vw;
    left: 60vw;
}

#tlb12 {
    top: 12vw;
    left: 0;
}

#trr13 {
    top: 12vw;
    left: 12vw;
}

#trr14 {
    top: 12vw;
    left: 36vw;
}

#tlb15 {
    top: 12vw;
    left: 48vw;
}

#trb16 {
    top: 15vw;
    left: 24vw;
}

#trr17 {
    top: 15vw;
    left: 48vw;
}

#tlb18 {
    top: 15vw;
    left: 60vw;
}

#trr19 {
    top: 15vw;
    left: 72vw;
}

#trb20 {
    top: 18vw;
    left: 36vw;
}

#trr21 {
    top: 21vw;
    left: 24vw;
}

#tlr22 {
    top: 21vw;
    left: 36vw;
}

#trb23 {
    top: 24vw;
    left: 36vw;
}

#tlr24 {
    top: 24vw;
    left: 48vw;
}

#trb25 {
    top: 27vw;
    left: 48vw;
}

#tlr26 {
    top: 27vw;
    left: 60vw;
} */

.backgrounds {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.box1 {
    position: absolute;
    width: 50%;
    height: 100%;
    z-index: 1;
    display: block;
    overflow: hidden;
    background-color: red;
}

.box2 {
    position: absolute;
    width: 50%;
    height: 100%;
    z-index: 1;
    display: block;
    overflow: hidden;
    background-color: blue;
}

.backgroundImg {
    background-color: pink;
    width: 100%;
    height: 100%;
}