.container {
  width: 84vw;
  height: 5000px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  touch-action: pan-y;
  -ms-touch-action: pan-y;
}

/* html {
  scroll-behavior: smooth;
  overflow: scroll;
} */

li {
  padding: 0;
  height: 4vh;
}

.gitLink {
  text-align: center;
  font-size: 1.4vh;
  font-family: "tex_gyre_scholaregular", serif;
}

@font-face {
  font-family: "tex_gyre_scholaregular";
  src: url("texgyreschola-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

#catalog {
  opacity: 0;
  touch-action: none;
  /* display: none; */
  transition: all 5s;
}

.myName {
  opacity: 0;
  position: absolute;
  font-family: "tex_gyre_scholaregular", serif;
  text-align: center;
  /* transition: all 2s cubic-bezier(0.165, 0.84, 0.44, 1); */
  color: #525252c4;
}

body {
  margin: 0;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  /* transition: all 1s; */
}

.toTop {
  box-sizing: border-box;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid yellow;
  border-left: 20px solid transparent;
  position: absolute;
  top: 0px;
  left: 46vw;
  z-index: 100;
}

.backgrounds {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.covers {
  top: 0;
  display: block;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.rightPortrait {
  position: absolute;
  width: 100%;
  margin-top: 5%;
  height: 95%;
  -webkit-backface-visibility: hidden;
  display: block;
  overflow: hidden;
}

.leftPortrait {
  margin-left: 0%;
  position: absolute;
  margin-top: 5%;
  height: 95%;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  display: block;
  overflow: hidden;
}

.backgroundContainer {
  position: fixed;
}

.backgroundContainerRight {
  position: fixed;
}

.rightContainer {
  /* margin-left: 100%; */
  /* margin-left: 100vw; */
  transform: translateX(500%);
  height: 100%;
  width: 100vw;
  position: relative;
  /* background-color: rgba(0, 0, 255, 0.281); */
  transition: all 2s cubic-bezier(0.165, 0.84, 0.44, 1);
  /* -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1); */
}

.leftContainer {
  transform: translateX(-500%);

  /* margin-left: -100vw; */
  height: 100%;
  position: relative;
  /* background-color: rgba(255, 0, 0, 0.322); */
  transition: all 2s cubic-bezier(0.165, 0.84, 0.44, 1);
  /* -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1); */
}

.triangle-left-red {
  box-sizing: border-box;
  width: 0;
  height: 0;
  border-top: 2vw solid transparent;
  border-right: 10vw solid #ff2d2d4d;
  border-bottom: 2vw solid transparent;
  position: absolute;
  transition: all 2s cubic-bezier(0.165, 0.84, 0.44, 1);
  /* -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1); */
}

.triangle-right-red {
  width: 0;
  height: 0;
  border-top: solid transparent;
  border-left: solid #ff2d2d4d;
  border-bottom: solid transparent;
  position: absolute;
  transition: all 2s cubic-bezier(0.165, 0.84, 0.44, 1);
  /* -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1); */
}

.triangle-left-blue {
  box-sizing: border-box;
  width: 0;
  height: 0;
  border-top: 3vw solid transparent;
  border-right: 10vw solid #00a2ff5b;
  border-bottom: 3vw solid transparent;
  position: absolute;
  transition: all 2s cubic-bezier(0.165, 0.84, 0.44, 1);
  /* -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1); */
}

.triangle-right-blue {
  box-sizing: border-box;
  width: 0;
  height: 0;
  border-top: 3vw solid transparent;
  border-left: 10vw solid #00a2ff5b;
  border-bottom: 3vw solid transparent;
  position: absolute;
  transition: all 2s cubic-bezier(0.165, 0.84, 0.44, 1);
  /* -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1); */
}

.triangle-right-yellow {
  box-sizing: border-box;
  width: 0;
  height: 0;
  border-top: 3vw solid transparent;
  border-left: 10vw solid #fff04b75;
  border-bottom: 3vw solid transparent;
  position: absolute;
  transition: all 2s cubic-bezier(0.165, 0.84, 0.44, 1);
  /* -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1); */
}

.triangle-left-yellow {
  box-sizing: border-box;
  width: 0;
  height: 0;
  border-top: 3vw solid transparent;
  border-right: 10vw solid #ffed2347;
  border-bottom: 3vw solid transparent;
  position: absolute;
  transition: all 2s cubic-bezier(0.165, 0.84, 0.44, 1);
  /* -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1); */
}

.triangle {
  border-width: 100px 200px;
}

html,
body,
div,
thumb {
  margin: 0;
  padding: 0;
  border: 0;
  /* font-family: "proxima-nova", sans-serif; */
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background-color: black;
}

body {
  background-color: rgba(255, 254, 249, 0);
}

a {
  outline: none;
}

a img {
  outline: none;
}

p span.hide {
  display: none;
}

p.center {
  text-align: center;
  margin-top: 27px;
}

section {
  -webkit-backface-visibility: hidden;
  position: relative;
  width: 100%;
  display: block;
  overflow: hidden;
  text-align: center;
}

h2 {
  text-align: center;
  text-decoration: underline;
}

.bio {
  column-count: 2;
  text-align: justify;
  /* height: 100%; */
}

:focus {
  outline: none;
}

.profilePic {
  width: 100%;
  float: left;
  margin: 10px 0;
}

.thumbnail {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 50px;
}

/* .pageContent {
  font-family: "tex_gyre_scholaregular", serif;
  height: 600px;
  width: 500px;
} */

.pageText {
  filter: grayscale(0.5);
  font-size: 1.4vh;
  font-family: "tex_gyre_scholaregular", serif;
  padding: 13vh 9vh;
  height: 100%;
  /* width: 100%; */
  box-shadow: inset 0 0 13px 4px #00000014;
}

ul {
  /* width: 100%; */
  padding-inline-start: 30px;
  text-align: justify;
}

ul span {
  width: 100%;
  display: inline-block;
}

h3 {
  margin-bottom: 0;
}

svg {
  margin-bottom: 1vh;
}

/* .downCenter {
  position: absolute;
  width: 100%;
  bottom: 0px;
  text-transform: uppercase;
  font-weight: 600;
  color: #2d2d2d;
  font-size: 13px;
  text-align: center;
  padding-bottom: 36px;
  letter-spacing: 0.03em;
} */

/* .arrow {
  position: relative;
  left: 50%;
  margin-left: -9px;
  margin-top: 15px;
  height: 0;
  width: 9px;
  border-bottom: 2px solid #e7e7e7;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;

  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);

  -webkit-transform-origin: bottom left;
  -moz-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  -o-transform-origin: bottom left;
  transform-origin: bottom left;
}

.arrow:after {
  position: absolute;
  left: 11px;
  content: "";
  height: 0;
  width: 9px;
  border-bottom: 2px solid #e7e7e7;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;

  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: bottom left;
  -moz-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  -o-transform-origin: bottom left;
  transform-origin: bottom left;
}

.navigation {
  -webkit-backface-visibility: hidden;
  position: fixed;
  top: 10px;
  rleft: 10px;
  height: 46px;
  width: 100%;
  overflow: hidden;
  transition: opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
} */

 @media screen and (max-width: 1000px) {
  .pageText {
   padding: 3vh 5vh;
  }
} 

.ca3-scroll-down-link {
  cursor:pointer;
	height: 60px;
	width: 80px;
	margin: 0px 0 0 -40px;
	line-height: 60px;
	position: fixed;
	left: 50%;
	bottom: 20px;
	color: #FFF;
	text-align: center;
	font-size: 70px;
	z-index: 100;
	text-decoration: none;
	text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);

	-webkit-animation: ca3_fade_move_down 2s ease-in-out infinite;
	-moz-animation:    ca3_fade_move_down 2s ease-in-out infinite;
	animation:         ca3_fade_move_down 2s ease-in-out infinite;
}


/*animated scroll arrow animation*/
@-webkit-keyframes ca3_fade_move_down {
  0%   { -webkit-transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,20px); opacity: 0; }
}
@-moz-keyframes ca3_fade_move_down {
  0%   { -moz-transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,20px); opacity: 0; }
}
@keyframes ca3_fade_move_down {
  0%   { transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,20px); opacity: 0; }
}
